<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 placeholder="Enter the name of the ingredient"
                 #nameInput>
        </div>
        <div class="col-sm-2 form group">
          <label for="amount">Amount</label>
          <input type="number"
                 id="amount"
                 class="form-control"
                 value="1"
                 #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- See css file for btn-margin code -->
          <button class="btn btn-success btn-margin" type="submit" (click)="onAddItem()">Add</button>
          <button class="btn btn-danger btn-margin" type="button">Delete</button>
          <button class="btn btn btn-margin" type="submit">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
